---
import {JOBS, getJobById} from 'src/staticpaths/jobs';
import Tag from "@components/Tag.astro";
import Metadata from "@components/Metadata.astro";
import Layout from "@layouts/Layout.astro";
import {fade} from "astro:transitions";
import Carousel from "@components/Carousel.astro";
import Header from "@components/Header.astro";
import type {JobId} from "../../types/Job";
import type {GetStaticPathsResult} from "astro";
import {createAsset} from "../../types/Asset";
import LinkedinLink from "@components/Links/Linkedin.astro";
import WebsiteLink from "@components/Links/Website.astro";
import Pdf from "@icons/Pdf.astro";
import Button from "@components/Button.astro";

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
    return JOBS.map((job) => {
        return {
            params: {
                id: job.id
            },
            props: {
                url: job.href
            }
        }
    })
}

const {id} = Astro.params
const {url} = Astro.props
const {
    company,
    backgroundUrl,
    logo,
    roles,
    tags,
    description,
    transitionName,
    startYear,
    endYear,
    linkedinUrl,
    websiteUrl
} = getJobById(id as JobId)

const assets = JOBS.map((job) => {
    return createAsset({
        classNames: 'job',
        href: url === job.href ? '#metadata' : job.href,
        logo: job.logo,
        transitionName: url === job.href ? '' : job.transitionName,
        alt: job.company
    })
})

const carouselParams = {
    title: 'Experience',
    history: 'replace'
}

const websiteTooltipText = `${company}'s Website`
const linkedinTooltipText = `${company}'s Linkedin`
---

<Layout
        title={`Frank Romaña - Experience at ${company}`}
        description="Frank Romaña is a software engineer with a passion for building user-friendly, accessible, and performant web applications. Focused on building innovative solutions."
        bgSrc=`${backgroundUrl}`
        bgTitle={`Frank Romaña - Experience at ${company}`}>
    <Header/>
    <main>
        <Metadata>
            <img transition:animate={fade({duration: 0.7})}
                 class="logo"
                 transition:name={transitionName}
                 src={logo}
                 alt={company}/>
            <div class="info">
                <div class="experience-years">
                    <span>{startYear}</span>
                    <Tag text={`${endYear - startYear} Seasons`}/>
                </div>
                <div class="links">
                    <LinkedinLink href={linkedinUrl} tooltipText={linkedinTooltipText}/>
                    <WebsiteLink href={websiteUrl} websiteTooltipText={websiteTooltipText}/>
                </div>
            </div>
            <h2>{roles.join(' & ')}</h2>
            <p>{description}</p>
            <div class="tags">
                {tags.map((tag) =>
                        <Tag text={tag}/>
                )}
            </div>
            <div class="buttons">
                <Button text="Download CV" type="cta" id="download-cv" ariaLabel="Download CV">
                    <Pdf/>
                </Button>
            </div>
        </Metadata>
        <Carousel assets={assets} params={carouselParams}/>
    </main>
</Layout>