---
import {JOBS, getJobById} from 'src/staticpaths/jobs';
import Tag from "@components/Tag.astro";
import Metadata from "@components/Metadata.astro";
import Layout from "@layouts/Layout.astro";
import {fade} from "astro:transitions";
import Carousel from "@components/Carousel.astro";
import type {Asset} from "@types/Asset";
import type {JobId} from "@types/Job";
import Header from "@components/Header.astro";
import type {GetStaticPathsResult} from "astro";
import Linkedin from "../../icons/Linkedin.astro";
import WorldWWW from "../../icons/WorldWWW.astro";

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
    return JOBS.map((job) => {
        return {
            params: {
                id: job.id
            },
            props: {
                url: job.href
            }
        }
    })
}

const {id} = Astro.params
const {url} = Astro.props
const {
    company,
    backgroundUrl,
    logo,
    roles,
    tags,
    description,
    transitionName,
    startYear,
    endYear,
    linkedinUrl,
    websiteUrl
} = getJobById(id as JobId)

const assets: Asset[] = JOBS.map((job): Asset => {
    return {
        classNames: 'job',
        href: url === job.href ? '#metadata' : job.href,
        logo: job.logo,
        transitionName: url === job.href ? '' : job.transitionName,
        alt: job.company
    }
})

const carouselParams = {
    title: 'Experience',
    history: 'replace'
}
---

<Layout
        title={`Frank Romaña - Experience at ${company}`}
        description="Frank Romaña is a software engineer with a passion for building user-friendly, accessible, and performant web applications. Focused on building innovative solutions."
        bgSrc=`${backgroundUrl}`
        bgTitle={`Frank Romaña - Experience at ${company}`}>
    <Header/>
    <main>
        <Metadata>
            <img transition:animate={fade({duration: '0.5s'})} class="logo" transition:name={transitionName} src={logo}
                 alt={company}/>
            <div class="info">
                {startYear}
                <Tag text={`${endYear - startYear} Seasons`}/>
                <a href={linkedinUrl} target="_blank" rel="noopener noreferrer"><Linkedin/></a>
                <a href={websiteUrl} target="_blank" rel="noopener noreferrer"><WorldWWW/></a>
            </div>
            <h3>{roles.join(' & ')}</h3>
            <p>{description}</p>
            <div class="tags">
                {tags.map((tag) =>
                        <Tag text={tag}/>
                )}
            </div>
        </Metadata>
        <Carousel assets={assets} params={carouselParams}/>
    </main>
</Layout>

<style>
    main {
        width: 100%;
        height: 100%;
        grid-row: 1;
        grid-column: 1;

        padding: var(--layout-padding-y) var(--layout-padding-x);
    }
</style>