---
import {JOBS, getJobById} from 'src/staticpaths/jobs';
import Tag from "@components/Tag.astro";
import Metadata from "@components/Metadata.astro";
import Layout from "@layouts/Layout.astro";
import {fade} from "astro:transitions";
import ExperienceCarousel from "@components/ExperienceCarousel.astro";
import Header from "@components/Header.astro";
import type {JobId} from "../../types/Job";
import type {GetStaticPathsResult} from "astro";
import {type ExperienceAsset} from "../../types/Asset";
import LinkedinLink from "@components/Links/Linkedin.astro";
import WebsiteLink from "@components/Links/Website.astro";
import Pdf from "@icons/Pdf.astro";
import Button from "@components/Button.astro";

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
    return JOBS.map((job) => {
        return {
            params: {
                id: job.id
            },
            props: {
                url: job.href
            }
        }
    })
}

const {id} = Astro.params
const {url} = Astro.props
const {
    company,
    backgroundUrl,
    logoSrc,
    roles,
    tags,
    description,
    transitionName,
    startYear,
    endYear,
    linkedinUrl,
    websiteUrl
} = getJobById(id as JobId)

const assets = JOBS
    .filter((job) => url !== job.href)
    .map((job): ExperienceAsset => {
        return {
            classNames: 'job',
            href: job.href,
            transitionName: job.transitionName,
            title: job.roles.join(' & '),
            company: job.company,
            description: job.description,
            startYear: job.startYear
        }
    })

const carouselParams = {
    title: 'Experience',
    history: 'replace'
}

const websiteTooltipText = `${company}'s Website`
const linkedinTooltipText = `${company}'s Linkedin`
---

<Layout
        title={`Frank Roma単a - Experience at ${company}`}
        description="Frank Roma単a is a software engineer with nearly a decade of professional experience building user-friendly and high-performance web applications. He is passionate about crafting intuitive interfaces and delivering robust, scalable solutions."
        bgSrc=`${backgroundUrl}`
        bgTitle={`Frank Roma単a - Experience at ${company}`}
        hasFooterContact={true}>
    <Header><h2 transition:name="brand-logo">Frank<br/>Roma単a</h2></Header>
    <main>
        <Metadata>
            <h1 transition:name={transitionName}
                transition:animate={fade({duration: 0.7})}
                set:html={company.split(' ').join('<br>')}
            ></h1>
            <div class="info">
                <div class="experience-years">
                    <Tag text={`${startYear}`} className="year"/>
                    <Tag text={`${endYear - startYear} Seasons`}/>
                </div>
                <div class="links">
                    <LinkedinLink href={linkedinUrl} tooltipText={linkedinTooltipText}/>
                    <WebsiteLink href={websiteUrl} websiteTooltipText={websiteTooltipText}/>
                </div>
            </div>
            <h2>{roles.join(' & ')}</h2>
            <p>{description}</p>
            <div class="tags">
                {tags.map((tag) =>
                        <Tag text={tag}/>
                )}
            </div>
            <div class="buttons">
                <Button text="Download CV" type="cta" id="download-cv" ariaLabel="Download CV">
                    <Pdf/>
                </Button>
            </div>
        </Metadata>
        <ExperienceCarousel assets={assets} params={carouselParams}/>
    </main>
</Layout>