---
import Layout from '../layouts/Layout.astro';
import Tag from "../components/Tag.astro";
import Metadata from "../components/Metadata.astro";
import Button from "../components/Button.astro";
import Pdf from "../icons/Pdf.astro";
import PlayFilled from "../icons/PlayFilled.astro";
import Volume from "../icons/Volume.astro";
import VolumeOff from "../icons/VolumeOff.astro";
import Carousel from "../components/Carousel.astro";
import {JOBS} from "../staticpaths/jobs";
import PauseFilled from "../icons/PauseFilled.astro";
import LinkedinLink from "@components/Links/Linkedin.astro";
import GithubLink from "@components/Links/Github.astro";
import EmailLink from "../components/Links/EmailLink.astro";
import Header from "../components/Header.astro";

const assets = JOBS.map((job) => {
    return {
        classNames: 'job',
        href: job.href,
        logo: job.logo,
        transitionName: job.transitionName,
        alt: job.company
    }
})
const carouselParams = {
    title: 'Experience',
    history: 'auto'
}
const emailUrl = 'contact@froma.dev'
const githubUrl = 'https://github.com/froma-dev'
const linkedinUrl = 'https://www.linkedin.com/in/frankromana'
const linkedinTooltipText = 'Frank\'s Linkedin'
const githubTooltipText = 'Frank\'s Github'
---

<Layout
        title="Frank Romaña - Software Engineering"
        description="Frank Romaña is a software engineer with a passion for building user-friendly, accessible, and performant web applications. Focused on building innovative solutions for connected devices and applications."
        bgSrc="/images/frank_gayscale_fixed_uvfv8l.webp"
        bgTitle="Frank Romaña - Software Engineering">
    <Header classNames="hidden">
        <h2>Frank<br/>Romaña</h2>
    </Header>
    <main>
        <Metadata>
            <h1 transition:name="brand-logo">Frank<br/>Romaña</h1>
            <section class="info">
                <h2>Web Developer / Spain</h2>
                <div class="links">
                    <LinkedinLink href={linkedinUrl} tooltipText={linkedinTooltipText}/>
                    <EmailLink href={emailUrl} tooltipText={emailUrl}/>
                    <GithubLink href={githubUrl} tooltipText={githubTooltipText}/>
                </div>
            </section>
            <p>
                Meet Frank Romaña. With over 10 years as a frontend developer, Frank has transformed screens into captivating, user-focused experiences. Known for his ability to lead and innovate, Frank seamlessly blends design with technology, creating applications that continually elevate user expectations. <br/>The journey continues with every new line of code.
            </p>
            <div class="tags">
                <Tag text="SmartTV"/>
                <Tag text="OTT"/>
                <Tag text="IPTV"/>
                <Tag text="Video Streaming"/>
                <Tag text="Frontend"/>
            </div>
            <div class="buttons">
                <Button text="Download CV" type="cta" id="download-cv" ariaLabel="Download CV">
                    <Pdf/>
                </Button>
                <div class="playback-controls">
                    <Button text="" type="round" id="play-pause-button" ariaLabel="Play/Pause">
                        <div class="icon-left">
                            <PlayFilled/>
                            <PauseFilled/>
                        </div>
                    </Button>
                    <Button text="" type="round" id="volume-on-off-button" ariaLabel="Volume On/Off">
                        <div class="icon-left">
                            <Volume/>
                            <VolumeOff/>
                        </div>
                    </Button>
                </div>
            </div>
        </Metadata>
        <Carousel assets={assets} params={carouselParams}/>
    </main>
</Layout>
