---
import Layout from '@layouts/Layout.astro';
import Header from "@components/Header.astro";
import {getImageUrl} from "@services/cloud/cloud";
import {type ExperienceAsset} from "../types/Asset";
import ExperienceCarousel from "@components/ExperienceCarousel.astro";
import MainMetadata from "@components/MainMetadata.astro";
import {getLangFromUrl, getLocaleUrlRelative, useTranslations} from "@i18n/utils";
import {getCollection} from 'astro:content'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const assets2 = await getCollection('experience')
const langRegEx = new RegExp(lang)
const assets = assets2
    .filter(({id}) => langRegEx.test(id))
    .map((asset): ExperienceAsset => {
        const job = asset.data

        return {
            classNames: 'job',
            href: getLocaleUrlRelative(lang, job.href),
            transitionName: job.transitionName,
            title: job.roles.join(' & '),
            company: job.company,
            description: job.description,
            startYear: job.startYear,
        }
    })
const carouselParams = {
    title: 'Experience',
    history: 'auto'
}
const backgroundSrc = getImageUrl('frank_grayscale.webp').toString()
---

<Layout
        title={t('meta.title')}
        description={t('meta.description')}
        bgSrc={backgroundSrc}
        bgTitle={t('main.background.alt')}>
    <Header classNames="hidden">
        <h2>Frank<br/>Romaña</h2>
    </Header>
    <main>
        <MainMetadata></MainMetadata>
        <ExperienceCarousel assets={assets} params={carouselParams}/>
    </main>
</Layout>
