---
import Layout from '@layouts/Layout.astro';
import Header from "@components/Header.astro";
import {getImageUrl} from "@services/cloud/cloud";
import ExperienceCarousel from "@components/ExperienceCarousel.astro";
import MainMetadata from "@components/MainMetadata.astro";
import {getLangFromUrl, useTranslations} from "@i18n/utils";
import {getExperienceCollection} from "@scripts/collectionManager";

const lang = getLangFromUrl(Astro.url)
const translations = useTranslations(lang)
const carouselParams = {
    title: translations('experience.carousel.title'),
    history: 'auto'
}
const backgroundSrc = getImageUrl('frank_grayscale.webp').toString()
const canonicalUrl = Astro.url.href
const assets = await getExperienceCollection(lang)
---

<Layout
        title={translations('meta.title')}
        description={translations('meta.description')}
        bgSrc={backgroundSrc}
        bgTitle={translations('main.background.alt')}
        canonicalURL={canonicalUrl}>
    <Header classNames="hidden">
        <h2>Frank<br/>Romaña</h2>
    </Header>
    <main>
        <MainMetadata></MainMetadata>
        <ExperienceCarousel assets={assets} params={carouselParams}/>
    </main>
</Layout>
