---
import Carousel from '@components/Carousel.astro'
import '@styles/components/AssetCarousel.css'
import type {Asset} from "../types/Asset";
const {assets, params} = Astro.props
const {title, history} = params
---
<Carousel title={title}>
    {assets.map(({classNames, href, logoSrc, transitionName, alt, title}: Asset) =>
            <a class=`asset ${classNames}` href={href} data-astro-history={history ?? 'auto'}>
                {logoSrc && (<img transition:name={transitionName} src={logoSrc} alt={alt}/>)}
                {!logoSrc && (<h2 transition:name={transitionName} class="title">{title}</h2>)}
            </a>
    )}
</Carousel>
