---
import Carousel from '@components/Carousel.astro'
import '@styles/components/AssetCarousel.css'
import type {Asset} from "../types/Asset";
const {assets, params} = Astro.props
const {title, history} = params
---
<Carousel title={title}>
    {assets.map(({classNames, href, logoSrc, alt, title}: Asset) =>
            <a class=`asset ${classNames}` href={href} data-astro-history={history ?? 'auto'}>
                {logoSrc && (<img src={logoSrc} alt={alt}/>)}
                {!logoSrc && (<h2 class="title">{title}</h2>)}
            </a>
    )}
</Carousel>
