---
import '@styles/components/Carousel.css'
import type {Asset} from "../types/Asset";
const {assets, params} = Astro.props
const {title, history} = params
---
<section class="carousel-container">
    <h3>{title}</h3>
    <div class="carousel">
        <div class="strip">
            {assets.map(({classNames, href, logo, transitionName, alt}: Asset) =>
                    <a class=`asset ${classNames}` href={href} data-astro-history={history ?? 'auto'}>
                        <img transition:name={transitionName} src={logo} alt={alt}/>
                    </a>
            )}
        </div>
    </div>
</section>