---
import Carousel from '@components/Carousel.astro'
import '@styles/components/ExperienceCarousel.css'
import {type ExperienceAsset} from "../types/Asset";
import Tag from "@components/Tag.astro";
const {assets, params} = Astro.props
const {title, history} = params
---
<Carousel title={title} classNames="job loading">
    {assets.map(({classNames, company, title, description, href, startYear}: ExperienceAsset) =>
            <a
                    class="asset-link"
                    href={href}
                    aria-label={`Learn more about Frank's experience at ${company}`}>
                <article
                        class=`asset ${classNames}`
                        data-astro-history={history ?? 'auto'}>
                    <section class="company-info">
                        <h3 class="title">{company}</h3>
                    </section>
                    <section class="metadata">
                        <h2 class="role">{title}</h2>
                        <p class="description">{description}</p>
                        <Tag text={`${startYear}`} className="year"/>
                    </section>
                </article>
            </a>
    )}
</Carousel>
