---
import '@styles/components/Footer.css';
import '@styles/components/Tooltip.css';
import LinkedinLink from "@components/Links/Linkedin.astro";
import GithubLink from "@components/Links/Github.astro";
import EmailLink from "./Links/EmailLink.astro";
import Thunda from '@icons/Thunda.astro'

const emailLink = 'contact@froma.dev'
const githubLink = 'https://github.com/froma-dev'
const linkedinLink = 'https://www.linkedin.com/in/frankromana'

const linkedinTooltipText = 'Frank\'s Linkedin'
const githubTooltipText = 'Frank\'s Github'
const emailTooltipText = emailLink

interface Props {
    hasFooterContact?: boolean
}

const {hasFooterContact} = Astro.props
---

<footer>
    {hasFooterContact && (
            <div class="contact">
                <LinkedinLink href={linkedinLink} tooltipText={linkedinTooltipText}/>
                <EmailLink href={emailLink} tooltipText={emailTooltipText}/>
                <GithubLink href={githubLink} tooltipText={githubTooltipText}/>
            </div>
    )}
    <span class="signature"><Thunda /> <span>Frank Romaña</span> <Thunda /></span>
</footer>