---
import {getCollection} from 'astro:content'
import Layout from "@layouts/Layout.astro";
import ExperienceCarousel from "@components/ExperienceCarousel.astro";
import Header from "@components/Header.astro";
import Thunda from "@icons/Thunda.astro";
import JobMetadata from "@components/JobMetadata.astro";
import {getLangFromUrl, useTranslations, setCurrentUrl, getLocaleUrlRelative} from "@i18n/utils";
import {getImageUrl} from "@services/cloud/cloud";
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

setCurrentUrl(Astro.url)
export async function getStaticPaths() {
    const lang = 'es'
    const experiences = await getCollection('experience')
    const langRegEx = new RegExp(lang)

    return experiences
        .filter(({id}) => langRegEx.test(id))
        .map(experience => {
            const {data} = experience
            const {id, href, backgroundUrl} = data

            return {
                params: {
                    id: id
                },
                props: {
                    url: href,
                    job: data,
                    backgroundUrl: getImageUrl(backgroundUrl),
                }
            }
        })
}

const {url, job, backgroundUrl} = Astro.props
const {company} = job

const assets2 = await getCollection('experience')
const langRegEx = new RegExp(lang)

const assets = assets2
    .filter(({id, data}) => langRegEx.test(id) && !url.includes(data.href))
    .map(asset => {
        const job = asset.data

        return {
            classNames: 'job',
            href: getLocaleUrlRelative(lang, job.href),
            transitionName: job.transitionName,
            title: job.roles.join(' & '),
            company: job.company,
            description: job.description,
            startYear: job.startYear,
        }
    })

const carouselParams = {
    title: 'Experience',
    history: 'replace'
}

console.log('espg: ', job.roles)
---
<Layout
        title={`${t('experience.meta.title')}${company}`}
        description={t('experience.meta.description')}
        bgSrc=`${backgroundUrl}`
        bgTitle={`${t('experience.meta.background.alt')} ${company}`}
        hasFooterContact={true}>
    <Header>
        <Thunda/>
        <h2>Frank<br/>Romaña</h2>
    </Header>
    <main>
        <JobMetadata job={job}/>
        <ExperienceCarousel assets={assets} params={carouselParams}/>
    </main>
</Layout>